body {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  background: #000000;
}
.app-container {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
}
.wrapper-container {
  display: flex;
  flex-direction: column;
  border: solid #b7aeae 0.1em;
  width: 90vw;
  height: 90vh;
  margin: 1em;
  align-self: center;
}
